{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Update Profile</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                    </form>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail mt-2" width="150">
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">
                        Back to Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}